.datatable-container {
  margin: 20px;
}
.datatableTitle{
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .link{
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.datatable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


.datatable th, .datatable td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.datatable th {
  background-color: #f2f2f2;
}

.datatable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.datatable tr:hover {
  background-color: #ddd;
}


.datatable select {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.datatable select option[value="Active"] {
  color: green;
}

.datatable select option[value="Inactive"] {
  color: red;
}
.profile-picture {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover; 
}
.edit-button {
  background-color: #67acf5;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

